name: code-check

on: [push, pull_request]

jobs:
  code-check:
    name: Mininet Code Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install codecheck tools
        run: |
          python -m pip install -U pip
          pip install pylint==2.15.7 black pycodestyle pyflakes

      - name: Run code check
        run: make codecheck
